.navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Changed from space-around */
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px 10px; /* Increased top padding */
    height: 100vh;
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .navbar-logo {
    margin-bottom: 20px; /* Added space below the logo */
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    margin-bottom: 15px; /* Increased bottom margin */
  }
  
  .active {
    font-weight: bold; /* Highlight active link */
  }
  